<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Tahoma, Verdana, sans-seriwf -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

    <title>Мастер Шаблонов (СОЮ)</title>
  </head>
  <body >
    <div id="app">
      <div>
        <b-navbar type="dark" variant='info' sticky>
          <b-navbar-brand href="#">Мастер Шаблонов</b-navbar-brand>
          <b-nav-form>
            <b-button-group>
              <b-button v-if='download_available' @click='download()'>Скачать</b-button>
              <b-button @click='updatePDF()'>Предпросмотр</b-button>
            </b-button-group>
          </b-nav-form>
          <!-- </b-nav-form> -->
          <b-navbar-nav class="ml-auto">
            <div class="p-1 bg-light text-black rounded">
              <b-form-checkbox id='autoRefresh' v-model='auto_refresh'>
                Автообновление <span v-if='auto_refresh'>включено</span><span v-else>выключено</span>
              </b-form-checkbox>
            </div>
          </b-navbar-nav>

        </b-navbar>
      </div>

      <b-container fluid>
        <b-row>
          <b-col>
            <form id='mainForm' action="{{full_path}}download-doc/" method="POST">
              <h2 class='mt-3'>Суд</h2>
              <!-- 0 -->
              <!-- 0 -->
              <!-- 0 -->
              <p class="p-1 mt-3 border border-primary bg-light text-black rounded" id='c0-h1'>
                Определить суд Вам помогут
                <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_39570/94d4da0fefbc3b2f7e44fd502a0a37a8f5ebaebb/">ст. 23 – 26 ГПК РФ</a> ,
                <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_176147/15bce2ff9d07937b0abc450a5c77967ecffdaaad/">ст. 17.1-20 КАС РФ</a>

              </p>
              <b-form-group>
                <b-form-radio name="choice-0" id="c0-v1" value="c0-v1" v-model="choice0">Мировой судья</b-form-radio>
                <b-form-radio name="choice-0" id="c0-v2" value="c0-v2" v-model="choice0">Районный суд</b-form-radio>
                <b-form-radio name="choice-0" id="c0-v3" value="c0-v3" v-model="choice0">Гарнизонный военный суд</b-form-radio>
                <b-form-radio name="choice-0" id="c0-v4" value="c0-v4" v-model="choice0">Областной и приравненный к нему суд</b-form-radio>
              </b-form-group>

              <h2>Истец</h2>
              <!-- 1 -->
              <!-- 1 -->
              <!-- 1 -->
              <p v-if='choice1.length > 1' id='c1-h1' class="p-1 mt-3 border border-primary bg-light text-black rounded">
                В случае, если за совершением юридически значимого действия одновременно обратились несколько плательщиков, государственная пошлина уплачивается плательщиками в равных долях
                <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/d6ee56e108108807503db3f4f9f375c9c296cd44/">(п. 2 ст. 333.18 НК РФ)</a>
              </p>

              <b-button-group size="sm">
                <b-button @click='choice1.length > 1 ? choice1.pop() : ""; onChange1()'>-</b-button>
                <b-button @click='choice1.push({val: "c1-v1"}); onChange1()'>+</b-button>
              </b-button-group>


              <template v-for="field in choice1">
                <b-form-select class='mt-2' size="sm" name="choice-1" @change="onChange1()" v-model="field.val" :options="select1"></b-form-select>
              </template>

              <h2 class='mt-3'>Представитель истца</h2>
              <!-- 2 -->
              <!-- 2 -->
              <!-- 2 -->
              <p id='c2-h1' style="display: none;" class="p-1 border border-primary bg-light text-black rounded">
                Изучите
                <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_39570/30cce8b59fb357ee113826f9c037b00da958c7a2/">главу 5 ГПК РФ</a>
                о представителе в суде, а также <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_176147/30cce8b59fb357ee113826f9c037b00da958c7a2/">гл. 5 КАС РФ</a>
              </p>

              <div @change='onChange2()'>
                <b-form-group>
                  <b-form-radio name="choice-2" id="c2-v1" value="c2-v1" @change="hide('c2-block1')">Нет</b-form-radio>
                  <b-form-radio name="choice-2" id="c2-v2" value="c2-v2" @change="show('c2-block1')">Есть</b-form-radio>
                </b-form-group>
                
                <div id="c2-block1" style="display: none; margin-left: 2.5rem;">
                  <b-button-group size="sm">
                    <b-button @click='choice2.length > 1 ? choice2.pop() : ""; onChange2()'>-</b-button>
                    <b-button @click='choice2.push({val: "c2-v3"}); onChange2()'>+</b-button>
                  </b-button-group>
                  <template v-for="field in choice2">
                    <b-form-select class='mt-2' size="sm" name="choice-2" v-model="field.val" :options="select2"></b-form-select>
                  </template>
                </div>
              </div>

              <h2 class='mt-3'>Ответчик</h2>
              <!-- 3 -->
              <!-- 3 -->
              <!-- 3 -->
              <b-button-group size="sm">
                <b-button @click='choice3.length > 1 ? choice3.pop() : ""; onChange3()'>-</b-button>
                <b-button @click='choice3.push({val: "c3-v1"}); onChange3()'>+</b-button>
              </b-button-group>
              <template v-for="field in choice3">
                <b-form-select class='mt-2' size="sm" name="choice-3" v-model="field.val" :options="select3"></b-form-select>
              </template>

              <h2 class='mt-3'>Есть ли третье лицо</h2>
              <!-- 4 -->
              <!-- 4 -->
              <!-- 4 -->
              <b-form-group>
                <b-form-radio name="choice-4" id="c4-v1" value="c4-v1" @change="hide('c4-block1')">Нет</b-form-radio>
                <b-form-radio name="choice-4" id="c4-v2" value="c4-v2" @change="show('c4-block1')">Есть</b-form-radio>
              </b-form-group>

              <div id="c4-block1" style="display: none; margin-left: 2.5rem;">
                <b-button-group size="sm">
                  <b-button @click='choice4.length > 1 ? choice4.pop() : ""; onChange4()'>-</b-button>
                  <b-button @click='choice4.push({val: "c4-v3"}); onChange4()'>+</b-button>
                </b-button-group>
                <template v-for="field in choice4">
                  <b-form-select class='mt-2' size="sm" name="choice-4" v-model="field.val" :options="select4"></b-form-select>
                </template>
              </div>

              <h2 class='mt-3'>Государственная пошлина</h2>
              <!-- 6 -->
              <!-- 6 -->
              <!-- 6 -->
              <div v-if='needs_tax'>
                <b-popover target="wrap-c6-op-v1" triggers="hover" placement="top">
                  Рассчитать размер государственной пошлины Вы можете с помощью
                  <a target="_blank" href="http://calc.consultant.ru/gosposhlina-soj">Калькулятора СПС «КонсультантПлюс»</a>
                </b-popover>
                <b-popover target="wrap-c6-op-v2" triggers="hover" placement="top">
                  Рассчитать размер государственной пошлины Вы можете с помощью
                  <a target="_blank" href="http://calc.consultant.ru/gosposhlina-soj">Калькулятора СПС «КонсультантПлюс»</a>
                </b-popover>
                <b-popover target="wrap-c6-op-v3" triggers="hover" placement="top">
                  Размер государственной пошлины см. в
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/1cfcdcc5936cbfc3ea52f964201a1bb6002be313/">пп.3 п.1 ст.333.19 НК РФ</a>
                </b-popover>
                <b-popover target="wrap-c6-op-v4" triggers="hover" placement="top">
                  Размер государственной пошлины см. в
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/1cfcdcc5936cbfc3ea52f964201a1bb6002be313/">пп.3 п.1 ст.333.19 НК РФ</a>
                </b-popover>
                <b-popover target="wrap-c6-op-v5" triggers="hover" placement="top">
                  Размер государственной пошлины см. в
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/1cfcdcc5936cbfc3ea52f964201a1bb6002be313/">пп.5 п.1 ст.333.19 НК РФ</a>
                </b-popover>
                <b-popover target="wrap-c6-op-v6" triggers="hover" placement="top">
                  Размер государственной пошлины см. в
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/1cfcdcc5936cbfc3ea52f964201a1bb6002be313/">пп.6 п.1 ст.333.19 НК РФ</a>
                </b-popover>
                <b-popover target="wrap-c6-op-v7" triggers="hover" placement="top">
                  Размер государственной пошлины см. в
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/1cfcdcc5936cbfc3ea52f964201a1bb6002be313/">пп.6.1 п.1 ст.333.19 НК РФ</a>
                </b-popover>
                <b-popover target="wrap-c6-op-v8" triggers="hover" placement="top">
                  Размер государственной пошлины см. в
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/1cfcdcc5936cbfc3ea52f964201a1bb6002be313/">пп.7 п.1 ст.333.19 НК РФ</a>
                </b-popover>
                <b-popover target="wrap-c6-op-v9" triggers="hover" placement="top">
                  Размер государственной пошлины см. в
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/1cfcdcc5936cbfc3ea52f964201a1bb6002be313/">пп.14 п.1 ст.333.19 НК РФ</a>
                </b-popover>
                <b-popover target="wrap-c6-op-v10" triggers="hover" placement="top">
                  Размер государственной пошлины см. в
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/1cfcdcc5936cbfc3ea52f964201a1bb6002be313/">пп.15 п.1 ст.333.19 НК РФ</a>
                </b-popover>
                <b-popover target="wrap-c6-op-v11" triggers="hover" placement="top">
                  Размер государственной пошлины см. в
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/1cfcdcc5936cbfc3ea52f964201a1bb6002be313/">пп.16 п.1 ст.333.19 НК РФ</a>
                </b-popover>

                <p v-if='choice6.length > 1' id='c6-h11' class="p-1 border border-primary bg-light text-black rounded">
                  Обратите внимание на особенности расчета государственной пошлины при подаче искового заявления несколькими истцами <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/d6ee56e108108807503db3f4f9f375c9c296cd44/">(п.2 ст.333.18 НК РФ)</a>, в том числе одновременно физическими и юридическими лицами. См. Письмо Департамента налоговой и таможенной политики Минфина России от 30 марта 2018 г. № 03-05-05-03/20247
                </p>

                <p v-if='choice6.length > 1' id='c6-h12' class="p-1 border border-primary bg-light text-black rounded">
                  При подаче исковых заявлений, а также административных исковых заявлений, содержащих требования как имущественного, так и неимущественного характера, одновременно уплачиваются государственная пошлина, установленная для исковых заявлений имущественного характера, и государственная пошлина, установленная для исковых заявлений неимущественного характера <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/84d383b088ff6ad7be9ba16d43c71828b1105aa5/">(пп.1 п.1 ст.333.20 НК РФ)</a>
                </p>

                <b-popover target="wrap-c6-v13" triggers="hover" placement="top">
                  Лицо освобождается от уплаты государственной пошлины в случае, если цена иска не превышает 1 000 000 рублей (при исковом заявлении имущественного характера или одновременно имущественного и неимущественного характера). В случае, если цена иска превышает 1 000 000 рублей, тогда лицо уплачивает государственную пошлину в сумме, исчисленной в соответствии с пп. 1 п.1 ст. 333.19 Налогового кодекса РФ указанным в начале документа и уменьшенной на сумму государственной пошлины, подлежащей уплате при цене иска 1 000 000 рублей (п.3 ст. 333.36 Налогового кодекса РФ)
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/61fdaaad02ecf7772dc9e0331d21c7ddc3323d4f/">Ссылка</a>
                </b-popover>
                <b-popover target="wrap-c6-v14" triggers="hover" placement="top">
                  Лицо освобождается от уплаты государственной пошлины в случае, если цена иска не превышает 1 000 000 рублей (при исковом заявлении имущественного характера или одновременно имущественного и неимущественного характера). В случае, если цена иска превышает 1 000 000 рублей, тогда лицо уплачивает государственную пошлину в сумме, исчисленной в соответствии с пп. 1 п.1 ст. 333.19 Налогового кодекса РФ указанным в начале документа и уменьшенной на сумму государственной пошлины, подлежащей уплате при цене иска 1 000 000 рублей (п.3 ст. 333.36 Налогового кодекса РФ)
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/61fdaaad02ecf7772dc9e0331d21c7ddc3323d4f/">Ссылка</a>
                </b-popover>
                <b-popover target="wrap-c6-v15" triggers="hover" placement="top">
                  Лицо освобождается от уплаты государственной пошлины в случае, если цена иска не превышает 1 000 000 рублей (при исковом заявлении имущественного характера или одновременно имущественного и неимущественного характера). В случае, если цена иска превышает 1 000 000 рублей, тогда лицо уплачивает государственную пошлину в сумме, исчисленной в соответствии с пп. 1 п.1 ст. 333.19 Налогового кодекса РФ указанным в начале документа и уменьшенной на сумму государственной пошлины, подлежащей уплате при цене иска 1 000 000 рублей (п.3 ст. 333.36 Налогового кодекса РФ)
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/61fdaaad02ecf7772dc9e0331d21c7ddc3323d4f/">Ссылка</a>
                </b-popover>
                <b-popover target="wrap-c6-v16" triggers="hover" placement="top">
                  Лицо освобождается от уплаты государственной пошлины в случае, если цена иска не превышает 1 000 000 рублей (при исковом заявлении имущественного характера или одновременно имущественного и неимущественного характера). В случае, если цена иска превышает 1 000 000 рублей, тогда лицо уплачивает государственную пошлину в сумме, исчисленной в соответствии с пп. 1 п.1 ст. 333.19 Налогового кодекса РФ указанным в начале документа и уменьшенной на сумму государственной пошлины, подлежащей уплате при цене иска 1 000 000 рублей (п.3 ст. 333.36 Налогового кодекса РФ)
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/61fdaaad02ecf7772dc9e0331d21c7ddc3323d4f/">Ссылка</a>
                </b-popover>
                <b-popover target="wrap-c6-v28" triggers="hover" placement="top">
                  Лицо освобождается от уплаты государственной пошлины в случае, если цена иска не превышает 1 000 000 рублей (при исковом заявлении имущественного характера или одновременно имущественного и неимущественного характера). В случае, если цена иска превышает 1 000 000 рублей, тогда лицо уплачивает государственную пошлину в сумме, исчисленной в соответствии с пп. 1 п.1 ст. 333.19 Налогового кодекса РФ указанным в начале документа и уменьшенной на сумму государственной пошлины, подлежащей уплате при цене иска 1 000 000 рублей (п.3 ст. 333.36 Налогового кодекса РФ)
                  <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_28165/61fdaaad02ecf7772dc9e0331d21c7ddc3323d4f/">Ссылка</a>
                </b-popover>

                
                <b-form-group>
                  <b-form-radio v-model='choice6' name="choice-6" id="c6-v1" value="c6-v1" @change="show('c6-block0'); click('c6-op-v1'); hide('c6-block1'); hide('c6-block2'); hide('c6-block3')">Отсутствует право на освобождение от уплаты государственной пошлины</b-form-radio>
                </b-form-group>

                <div id='c6-block0' style="margin-left: 2.5rem;">
                  <b-form-group>
                    <div id="wrap-c6-op-v1">
                      <b-form-checkbox name="choice-61" id="c6-op-v1" value="c6-op-v1" v-model="choice61">Исковое заявление имущественного характера (пп.1 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                    <div id="wrap-c6-op-v2">
                      <b-form-checkbox name="choice-61" id="c6-op-v2" value="c6-op-v2" v-model="choice61">Административное исковое заявление имущественного характера (пп.1 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                    <div id="wrap-c6-op-v3">
                      <b-form-checkbox name="choice-61" id="c6-op-v3" value="c6-op-v3" v-model="choice61">Исковое заявление имущественного характера, не подлежащее оценке (пп.3 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                    <div id="wrap-c6-op-v4">
                      <b-form-checkbox name="choice-61" id="c6-op-v4" value="c6-op-v4" v-model="choice61">Исковое заявление неимущественного характера (пп.3 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                    <div id="wrap-c6-op-v5">
                      <b-form-checkbox name="choice-61" id="c6-op-v5" value="c6-op-v5" v-model="choice61">Исковое заявление о расторжении брака (пп.5 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                    <div id="wrap-c6-op-v6">
                      <b-form-checkbox name="choice-61" id="c6-op-v6" value="c6-op-v6" v-model="choice61">Административное исковое заявление об оспаривании (полностью или частично) нормативных правовых актов (нормативных актов) государственных органов, Центрального банка РФ, государственных внебюджетных фондов, органов местного самоуправления, государственных корпораций, должностных лиц, а также административного искового заявления об оспаривании ненормативных правовых актов Президента РФ, Совета Федерации Федерального Собрания РФ, Государственной Думы Федерального Собрания РФ, Правительства РФ, Правительственной комиссии по контролю за осуществлением иностранных инвестиций в РФ (пп.6 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                    <div id="wrap-c6-op-v7">
                      <b-form-checkbox name="choice-61" id="c6-op-v7" value="c6-op-v7" v-model="choice61">Административное исковое заявление об оспаривании актов федеральных органов исполнительной власти, иных федеральных государственных органов, Центрального банка РФ, государственных внебюджетных фондов, содержащих разъяснения законодательства и обладающих нормативными свойствами (пп.6.1 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                    <div id="wrap-c6-op-v8">
                      <b-form-checkbox name="choice-61" id="c6-op-v8" value="c6-op-v8" v-model="choice61">Административное исковое заявление о признании ненормативного правового акта недействительным и о признании решений и действий (бездействия) государственных органов, органов местного самоуправления, иных органов, должностных лиц незаконными (пп.7 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                    <div id="wrap-c6-op-v9">
                      <b-form-checkbox name="choice-61" id="c6-op-v9" value="c6-op-v9" v-model="choice61">Исковое заявление о взыскании алиментов (пп.14 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                    <div id="wrap-c6-op-v10">
                      <b-form-checkbox name="choice-61" id="c6-op-v10" value="c6-op-v10" v-model="choice61">Административное исковое заявление о присуждении компенсации за нарушение права на судопроизводство в разумный срок или права на исполнение судебного акта в разумный срок (пп.15 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                    <div id="wrap-c6-op-v11">
                      <b-form-checkbox name="choice-61" id="c6-op-v11" value="c6-op-v11" v-model="choice61">Административное исковое заявление о присуждении компенсации за нарушение условий содержания под стражей, содержания в исправительном учреждении (пп.16 п.1 ст.333.19 НК РФ)</b-form-checkbox>
                    </div>
                  </b-form-group>
                </div>
                <b-form-group>
                  <b-form-radio v-model='choice6' name="choice-6" id="c6-v2" value="c6-v2" @change="show('c6-block1'); hide('c6-block0'); choice61=['']">Есть право на освобождение от уплаты государственной пошлины</b-form-radio>
                </b-form-group>
                
                <div id='c6-block1' style="display: none; margin-left: 2.5rem;">
                  <b-form-group>
                    <b-form-radio name="choice-6" id="c6-v3" value="c6-v3" @change="hide('c6-block3'); show('c6-block2'); click('c6-v5');">{{ c6_v3 }}</b-form-radio>
                  </b-form-group>
                  <div id='c6-block2' style="display: none; margin-left: 5rem;">
                    <b-form-group>
                      <b-form-radio name="choice-6" id="c6-v5" value="c6-v5" v-model='choice6'>{{ c6_v5 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v6" value="c6-v6" v-model='choice6'>{{ c6_v6 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v7" value="c6-v7" v-model='choice6'>{{ c6_v7 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v8" value="c6-v8" v-model='choice6'>{{ c6_v8 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v9" value="c6-v9" v-model='choice6'>{{ c6_v9 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v10" value="c6-v10" v-model='choice6'>{{ c6_v10 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v12" value="c6-v12" v-model='choice6'>{{ c6_v12 }}</b-form-radio>
                      <div id="wrap-c6-v13">
                        <b-form-radio name="choice-6" id="c6-v13" value="c6-v13" v-model='choice6'>{{ c6_v13 }}</b-form-radio>
                      </div>
                      <div id="wrap-c6-v14">
                        <b-form-radio name="choice-6" id="c6-v14" value="c6-v14" v-model='choice6'>{{ c6_v14 }}</b-form-radio>
                      </div>
                      <div id="wrap-c6-v15">
                        <b-form-radio name="choice-6" id="c6-v15" value="c6-v15" v-model='choice6'>{{ c6_v15 }}</b-form-radio>
                      </div>
                      <div id="wrap-c6-v16">
                        <b-form-radio name="choice-6" id="c6-v16" value="c6-v16" v-model='choice6'>{{ c6_v16 }}</b-form-radio>
                      </div>
                      <b-form-radio name="choice-6" id="c6-v17" value="c6-v17" v-model='choice6'>{{ c6_v17 }}</b-form-radio>
                    </b-form-group>

                  </div>
                  <b-form-group>
                    <b-form-radio name="choice-6" id="c6-v4" value="c6-v4" @change="hide('c6-block2'); show('c6-block3'); click('c6-v18')">{{ c6_v4 }}</b-form-radio>
                  </b-form-group>
                  <div id='c6-block3' style="display: none; margin-left: 5rem;">
                    <b-form-group>
                      <b-form-radio name="choice-6" id="c6-v18" value="c6-v18" v-model='choice6'>{{ c6_v18 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v19" value="c6-v19" v-model='choice6'>{{ c6_v19 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v20" value="c6-v20" v-model='choice6'>{{ c6_v20 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v21" value="c6-v21" v-model='choice6'>{{ c6_v21 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v22" value="c6-v22" v-model='choice6'>{{ c6_v22 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v23" value="c6-v23" v-model='choice6'>{{ c6_v23 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v24" value="c6-v24" v-model='choice6'>{{ c6_v24 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v25" value="c6-v25" v-model='choice6'>{{ c6_v25 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v26" value="c6-v26" v-model='choice6'>{{ c6_v26 }}</b-form-radio>
                      <b-form-radio name="choice-6" id="c6-v27" value="c6-v27" v-model='choice6'>{{ c6_v27 }}</b-form-radio>
                      <div id="wrap-c6-v28">
                        <b-form-radio name="choice-6" id="c6-v28" value="c6-v28" v-model='choice6'>{{ c6_v28 }}</b-form-radio>
                      </div>
                      <b-form-radio name="choice-6" id="c6-v29" value="c6-v29" v-model='choice6'>{{ c6_v29 }}</b-form-radio>
                    </b-form-group>
                  </div>
                </div>
              </div>
              <div v-else>
                <b-form-group>
                  <b-form-radio name="choice-6" id="c6-v29" value="c6-v29" v-model='choice6'>{{ c6_v29 }}</b-form-radio>
                </b-form-group>
              </div>

              <h2>Основные требования</h2>
              <!-- 7 -->
              <!-- 7 -->
              <!-- 7 -->
              <b-popover target="wrap-c7-v2" triggers="hover" placement="top">
                См. подробнее 
                <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_9027/a6a62f9047375e7dd8d7d21f62184dc597cd2444/">гл. 60 ГК РФ</a>
              </b-popover>
              <b-popover target="wrap-c7-v15" triggers="hover" placement="top">
                См. подробнее 
                <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_5142/4734407fbf4d5eec5306840f8b75b994e5d57090/">ст. 15 ГК РФ</a>
              </b-popover>
              <b-popover target="wrap-c7-v16" triggers="hover" placement="top">
                На практике имеется неопределенности с ценой иска по признанию сделок недействительными. Подробнее 
                <a target="_blank" href="http://www.consultant.ru/cons/cgi/online.cgi?req=doc&base=CJI&n=123299#07416649636887795">см. в п. 3 Решения</a>
              </b-popover>
              <b-popover target="wrap-c7-v21" triggers="hover" placement="top">
                Подробнее об уважительных сроках пропуска см. 
                <a target="_blank" href="http://www.consultant.ru/cons/cgi/online.cgi?req=doc&cacheid=68B151FC975A0559A451E0DC369191B6&mode=backrefs&SORTTYPE=0&BASENODE=1-1&ts=7076159540986915479&base=LAW&n=139107&rnd=D42BA60A6340E32FFBF5DCB0691CA5AF#22mge9uywim">п. 10 ПП ВС № 29 от 11.12.2012</a>
              </b-popover>

              <div @change='onChange7()'>
                <b-form-group>
                  <b-form-checkbox name="choice-7" id="c7-v1" value="c7-v1" v-model="choice7">{{ c7_v1 }}</b-form-checkbox>
                  <div id="wrap-c7-v2">
                    <b-form-checkbox name="choice-7" id="c7-v2" value="c7-v2" v-model="choice7">{{ c7_v2 }}</b-form-checkbox>
                  </div>
                    <div v-if='choice7.includes("c7-v2")' id='c7-block1' style="margin-left: 2.5rem;">
                      <b-form-group>
                        <b-form-radio name="c7-block1-radio" id="c7-v3" value="c7-v3" @change='show("c7-block1-1"); hide("c7-block1-2"); hide("c7-block1-3"); click("c7-v4")'>{{ c7_v3 }}</b-form-radio>
                        <div id='c7-block1-1' style="display: none; margin-left: 5rem;">
                          <div>Неосновательное обогащение вытекает из договора</div>
                            <b-form-group>
                              <b-form-radio name="choice-7-op1" id="c7-v4" value="c7-v4" v-model="choice7options.option1">{{ c7_v4 }}</b-form-radio>
                              <b-form-radio name="choice-7-op1" id="c7-v5" value="c7-v5" v-model="choice7options.option1">{{ c7_v5 }}</b-form-radio>
                            </b-form-group>
                        </div>
                        <b-form-radio name="c7-block1-radio" id="c7-v6" value="c7-v6" @change='show("c7-block1-2"); hide("c7-block1-1"); hide("c7-block1-3"); click("c7-v7"); click("c7-v9")'>{{ c7_v6 }}</b-form-radio>
                        <div id='c7-block1-2' style="display: none; margin-left: 5rem;">
                          <div>Передавалась с имуществом какая-либо сопроводительная документация</div>
                          <b-form-group>  
                            <b-form-radio name="choice-7-op2" id="c7-v7" value="c7-v7" v-model="choice7options.option2">{{ c7_v7 }}</b-form-radio>
                            <b-form-radio name="choice-7-op2" id="c7-v8" value="c7-v8" v-model="choice7options.option2">{{ c7_v8 }}</b-form-radio>
                          </b-form-group>
                          <div>Неосновательное обогащение вытекает из договора</div>
                          <b-form-group> 
                            <b-form-radio name="choice-7-op3" id="c7-v9" value="c7-v9" v-model="choice7options.option3">{{ c7_v9 }}</b-form-radio>
                            <b-form-radio name="choice-7-op3" id="c7-v10" value="c7-v10" v-model="choice7options.option3">{{ c7_v10 }}</b-form-radio>
                          </b-form-group> 
                        </div>
                        <b-form-radio name="c7-block1-radio" id="c7-v11" value="c7-v11" @change="show('c7-block1-3'); hide('c7-block1-1'); hide('c7-block1-2'); click('c7-v12')">{{ c7_v11 }}</b-form-radio>
                        <div id='c7-block1-3' style="display: none; margin-left: 5rem;">
                          <div>Неосновательное обогащение вытекает из договора</div>
                          <b-form-group>
                            <b-form-radio name="choice-7-op4" id="c7-v12" value="c7-v12" v-model="choice7options.option4">{{ c7_v12 }}</b-form-radio>
                            <b-form-radio name="choice-7-op4" id="c7-v13" value="c7-v13" v-model="choice7options.option4">{{ c7_v13 }}</b-form-radio>
                          </b-form-group>
                        </div>
                      </b-form-group>
                    </div>
                  <b-form-checkbox name="choice-7" id="c7-v14" value="c7-v14" v-model="choice7">{{ c7_v14 }}</b-form-checkbox>
                  <div id="wrap-c7-v15">
                    <b-form-checkbox name="choice-7" id="c7-v15" value="c7-v15" v-model="choice7">{{ c7_v15 }}</b-form-checkbox>
                  </div>
                  <div id="wrap-c7-v16">
                    <b-form-checkbox name="choice-7" id="c7-v16" value="c7-v16" v-model="choice7">{{ c7_v16 }}</b-form-checkbox>
                  </div>
                  <b-form-checkbox name="choice-7" id="c7-v17" value="c7-v17" v-model="choice7">{{ c7_v17 }}</b-form-checkbox>
                  <b-form-checkbox name="choice-7" id="c7-v18" value="c7-v18" v-model="choice7">{{ c7_v18 }}</b-form-checkbox>
                  <b-form-checkbox name="choice-7" id="c7-v19" value="c7-v19" v-model="choice7">{{ c7_v19 }}</b-form-checkbox>                  
                  <b-form-checkbox name="choice-7" id="c7-v20" value="c7-v20" v-model="choice7">{{ c7_v20 }}</b-form-checkbox>
                  <div id="wrap-c7-v21">
                    <b-form-checkbox name="choice-7" id="c7-v21" value="c7-v21" v-model="choice7">{{ c7_v21 }}</b-form-checkbox>
                  </div>
                  <b-form-checkbox name="choice-7" id="c7-v22" value="c7-v22" v-model="choice7">{{ c7_v22 }}</b-form-checkbox>
                  <b-form-checkbox name="choice-7" id="c7-v23" value="c7-v23" v-model="choice7">{{ c7_v23 }}</b-form-checkbox>
                  <b-form-checkbox name="choice-7" id="c7-v24" value="c7-v24" v-model="choice7">{{ c7_v24 }}</b-form-checkbox>
                  <b-form-checkbox name="choice-7" id="c7-v25" value="c7-v25" v-model="choice7">{{ c7_v25 }}</b-form-checkbox>
                </b-form-group>
              </div>

              <h2>Дополнительные требования</h2>
              <!-- 8 -->
              <!-- 8 -->
              <!-- 8 -->
              <b-popover target="wrap-c8-v1" triggers="hover" placement="top">
                См. подробнее 
                <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_5142/93383099dc4f06165d8d4aac4eeb159db4f6da3d/">395 ГК РФ</a>
              </b-popover>

              <div @change='onChange8()'>
                <b-form-group>
                  <div v-if='!choice8.includes("c8-v6")'>
                    <div id="wrap-c8-v1">
                      <b-form-checkbox name="choice-8" id="c8-v1" value="c8-v1" v-model="choice8">{{ c8_v1 }}</b-form-checkbox>
                    </div>
                    <b-form-checkbox name="choice-8" id="c8-v2" value="c8-v2" v-model="choice8">{{ c8_v2 }}</b-form-checkbox>
                    <b-form-checkbox name="choice-8" id="c8-v3" value="c8-v3" v-model="choice8">{{ c8_v3 }}</b-form-checkbox>
                    <b-form-checkbox name="choice-8" id="c8-v4" value="c8-v4" v-model="choice8">{{ c8_v4 }}</b-form-checkbox>
                    <b-form-checkbox name="choice-8" id="c8-v5" value="c8-v5" v-model="choice8">{{ c8_v5 }}</b-form-checkbox>
                  </div>
                  <b-form-checkbox name="choice-8" id="c8-v6" value="c8-v6" v-model="choice8">Не предъявляются</b-form-checkbox>
                </b-form-group>
              </div>
              
              <h2>Цена иска</h2>
              <!-- 5 -->
              <!-- 5 -->
              <!-- 5 -->
              <p id='c5-h1' class="p-1 border border-primary bg-light text-black rounded">
                Подробнее об определении цены иска 
                <a target="_blank" href="http://www.consultant.ru/cons/cgi/online.cgi?req=doc&base=CJI&n=123299#07416649636887795">см. Решение</a>
              </p>

              <p v-if='choice5 == "c5-v1"' id='c5-h2' class="p-1 border border-primary bg-light text-black rounded">
                Особенности определения цены иска –
                <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_39570/7323db566b767e88542acc5ac8c780f5b6ef8e1c/">ст. 91 ГПК РФ</a>
              </p>

              <p id='c5-h3' class="p-1 border border-primary bg-light text-black rounded">
                В данном случае цена иска <span v-if="needs_price_7 || needs_price_8" text-primary>должна быть указана</span><span v-else>не должна быть указана</span>
              </p>

              <b-form-group>
                <b-form-radio name="choice-5" id="c5-v1" value="c5-v1" v-model='choice5'>Указывается</b-form-radio>
                <b-form-radio name="choice-5" id="c5-v2" value="c5-v2" v-model='choice5'>Не указывается</b-form-radio>
              </b-form-group>

              <h2>Соблюден ли досудебный порядок урегулирования спора</h2>
              <!-- 9 -->
              <!-- 9 -->
              <!-- 9 -->
              <p v-if='choice9 == "c9-v2"' id='c9-h1' class="p-1 border border-primary bg-light text-black rounded">
                По некоторым категориям дел соблюдение досудебного порядка урегулирования спора обязательно!
                <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_188617/">См. справочный материал</a>
              </p>

              <b-form-group>
                <b-form-radio name="choice-9" id="c9-v1" value="c9-v1" v-model="choice9">Да</b-form-radio>
                <b-form-radio name="choice-9" id="c9-v2" value="c9-v2" v-model="choice9">Нет</b-form-radio>
              </b-form-group>

              <h2>Совершались ли стороной действия, направленные на примирение</h2>
              <!-- 10 -->
              <!-- 10 -->
              <!-- 10 -->
              <b-form-group>
                <b-form-radio name="choice-10" id="c10-v1" value="c10-v1" v-model="choice10">Да</b-form-radio>
                <b-form-radio name="choice-10" id="c10-v2" value="c10-v2" v-model="choice10">Нет</b-form-radio>
              </b-form-group>

              <h2>Предъявляется ли иск в защиту прав потребителей</h2>
              <!-- 11 -->
              <!-- 11 -->
              <!-- 11 -->
              <p id='c11-h1' class="p-1 border border-primary bg-light text-black rounded">
                По потребительским спорам допускается конкуренция деликтного и договорного исков. См. 
                <a target="_blank" href="http://www.consultant.ru/cons/cgi/online.cgi?req=doc&base=ARB&n=422388#09404552338822694">Определение СК ВС РФ</a>
              </p>
              <p v-if='choice11 == "c11-v3"' id='c11-h2' class="p-1 border border-primary bg-light text-black rounded">
                По некоторым категориям дел соблюдение досудебного порядка урегулирования спора обязательно!
                <a target="_blank" href="http://www.consultant.ru/document/cons_doc_LAW_188617/">См. справочный материал</a>
              </p>

              <b-form-group>
                <b-form-radio name="choice-11" id="c11-v1" value="c11-v1" v-model="choice11" @change="show('c11-block1')">Да (Соблюден ли претензионный порядок?)</b-form-radio>
                <div id='c11-block1' style="margin-left: 2.5rem;">
                  <b-form-group>
                    <b-form-radio name="choice-11" id="c11-v2" value="c11-v2" v-model="choice11">Да</b-form-radio>
                    <b-form-radio name="choice-11" id="c11-v3" value="c11-v3" v-model="choice11">Нет</b-form-radio>
                  </b-form-group>
                </div>
                <b-form-radio name="choice-11" id="c11-v4" value="c11-v4" v-model="choice11" @change="hide('c11-block1')">Нет</b-form-radio>
              </b-form-group>
            </form>
            <b-button-group class='mb-3'>
              <b-button v-if='download_available' @click='download()'>Скачать</b-button>
              <b-button @click='updatePDF()'>Предпросмотр</b-button>
            </b-button-group>
          </b-col>
        <!-- </b-row -->


          
          <b-col>

            <div>
              <b-alert v-model="updating" variant="info" dismissible>
                Обновляем предпросмотр
              </b-alert>
              <b-alert v-model="error" variant="danger" dismissible>
                Произошла ошибка
              </b-alert>
            </div>

            <div id='pdf-container'></div>
          </b-col>

        </b-row>
      </b-container>
    </div>

    {% load static %}
    <script src="{% static 'debounce.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'pdf.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'main.js' %}?{% now 'U' %}"></script>  
    <script src="{% static 'previewUpdate.js'%}?{% now 'U' %}"></script>
  </body>
</html>
